		html,body{ height:98%; padding:0; margin:0; width:100%;}
		.master-grid {
			height:100%;
		  display: grid;
		  grid-gap: 10px;
		  padding: 10px;
		}
		body{font-family: "Book Antiqua",Georgia,serif;}
		.master-grid-item {
			height:95%;
		  text-align: center;
		  /*padding: 20px;*/
		  font-size: 30px;
		}

		.sidenavbar {
		  grid-column: 1;
		  grid-row: 1;
		}

		.main {
			overflow-y: auto;
		  grid-column: 2 / span 4;
		  grid-row: 1 ;
		}

		.about-grid{
			display: grid;
		  grid-gap: 10px;
		  padding: 10px;
		  /*background-color: #2196F3;*/
		}

		.about-header, .gallery-header{
		  /*background-color: rgba(255, 255, 255, 0.8);*/
		  text-align: center;
		  grid-column: 1 / span 3;
		  grid-row: 1;
		}
		.about-body{
			/*width:50%;*/
		  /*background-color: rgba(255, 255, 255, 0.8);*/
			text-align: center;
			grid-column: 1 / span 2;
			grid-row: 2 / span 2;
			}
		.about-side{
		  /*background-color: rgba(255, 255, 255, 0.8);*/
			text-align: center;
			grid-column:3/ span 1;
		}
		.content-paragraph{
			font-family: "Book Antiqua",Georgia,serif;
		    /*font-size: 18px;*/
		    font-size: 1.125rem;
		    /*line-height: 30px;*/
		    line-height: 1.875rem;
		    display: block;
		    margin-block-start: 1em;
		    margin-block-end: 1em;
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
		    padding-left:12%;
		    padding-right:12%;
		    text-align: justify;
			  text-justify: inter-word;
		}
		.resume-paragraph{
			font-family: "Book Antiqua",Georgia,serif;
		    /*font-size: 18px;*/
		    font-size: 1rem;
		    /*line-height: 30px;*/
		    line-height: 1.875rem;
		    display: block;
		    margin-block-start: 1em;
		    margin-block-end: 1em;
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
		    padding-left:0%;
		    padding-right:0%;
		    text-align: left;
			  text-justify: inter-word;
			  margin-right: 20%
		}

.fff{
	justify-content: flex-end;
}

		.bg {
		  /* The image used */
		  background-image: url("../images/Me2 - Copy.jpg");

		  /* Full height */
		  height: 45rem; 
		  width:100%;

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}

		.header{
		    font-size: 2.625rem;
		    /*line-height: 1.875rem;*/
		    display: block;
		    font-family: "Trebuchet MS","Arial Narrow",Arial,sans-serif;
		    font-weight: normal;
		    text-transform: uppercase;
		    color: #000;
		    transition: 0.2s color linear;

		}
		.my-name{
			padding-top:1rem;
		}

		.contact-info{
			font-size: 2rem;
			/*display: inline;*/
		}
		.git-icon{
			background-image: url("Assets/images/git/regular.jpg");

		  /* Full height */
		  height: 30%; 

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: contain;
		}
		.git-icon:hover {
			background-image: url("Assets/images/git/solid.jpg");
		}
		.resume-icon{

		  /* Full height */
		  height: 10%; 
		  background-image: url("Assets/images/resume/regular.jpg");

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: contain;

		}
		.lol {
    display:inline-block;
    position:relative;
    width:40rem;
}
.lol i {
    position:absolute;
    top:50%;
    left:0.5rem;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    /*height: 1rem*/
}
::placeholder{font-size: 1.5rem}
::input{font-size: 1rem}
.lol input {
    padding-left:2.5rem !Important;
    width:100% !Important;
}
.lol textarea{
		width:100%;
    padding-left:2.5rem;
    min-height:8rem;
}
.side-nav:link {
  text-decoration: none;
  color: black;
}

/* visited link */
.side-nav:visited {
  text-decoration: none;
  color: black;
}

/* mouse over link */
.side-nav:hover {
  text-decoration: none;
  color: #CC3333;
}

/* selected link */
.side-nav:active {
  text-decoration: none;
  color: #FC3F3F;
}

.footer-link:link {
	font-size: 1rem;
  text-decoration: none;
  color: black;
}

/* visited link */
.footer-link:visited {
  text-decoration: none;
  color: black;
}

/* mouse over link */
.footer-link:hover {
  text-decoration: none;
  color: #CC3333;
}

/* selected link */
.footer-link:active {
  text-decoration: none;
  color: #FC3F3F;
}
